.App {
  text-align: center;
  min-height: calc(100vh);
  display: flex;
 flex-direction: column;
}

.navigation ul{

  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
 
}
.navigation{

  height: '10%';
}

.navigation ul li{
  list-style: none;
  padding: 10px;
  transition: 0.5s ease-in-out;
}

.navigation ul li:hover{
  background: aqua;
  cursor: pointer;
}

a{
  text-decoration: none;
}



.map-wrapper {
  align-self: center;
}

.marker {
  cursor: 'pointer';
  fill: '#d00';
  stroke: 'none';
  
}

.pop-up{
  max-width: 300px;
  display: flex;
  flex-direction: column;
 
}


.entry-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.account-page{
  min-height: calc(95vh);
 float: left;
 width: 100%;
}

.account-page::after {
  content: "";
  clear: both;
  display: table;
}

.locations::after {
  content: "";
  clear: both;
  display: table;
}

.locations{
  font-size: 0.8rem;
  float: left;
  width : 33.33%;
  background-color: #fad;
  max-height: 400px;
  overflow: scroll;
}
.locations ul{
  margin: 0;
  padding: 10px;
}


.locations ul li{
  justify-content: space-between;
  display: flex;
  margin: 0 0 10px 0;

}

.locations ul li button{
  justify-self: end;

}

.location-image{
  width: 100%;
  height: 100%;
}

.location-image > img {
  cursor: pointer;
}

.account-info{
  float: left;
  width : 66.67%;
  background-color: #ff0;
  padding-bottom:20px ;
}


.loggin-container{
  display: flex;
  flex-direction: column;
  background-color: rgba(126, 235, 116, 0.76);
  min-height: 80vh;
  min-width: 300px;
}

.full-screen-img-container{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height:  100vh;
  width: 100vw;
  background: rgb(0, 0, 0,0.7);
  cursor: pointer;
}

.coments{
  padding: 20px;
}

.show{
  display: none;
}

.close-button{
 position: absolute;
 top: 30;
}